{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/fa6f006057.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>About Us</title>
  </head>
  <body>
    <header class="site-header">
      <div
        class="container"
        style="display: flex; justify-content: space-between"
      >
        <h2>
          <!-- logo -->
          <img src="{% static 'logo.png' %}" alt="Logo">
        </h2>
        {% if user.is_authenticated %}
        <h2>
          <a href="/dashboard/">{{ user.username }}</a>
          <i class="fa-solid fa-circle-user fa-2x"></i>
        </h2>
        {% endif %}
      </div>
      <div id="nav-bar">
        <a href="/" id="home-button">HOME</a>
        <a href="/discover" id="discover-button">DISCOVER</a>
        <a href="/new" id="create-button">CREATE</a>
      </div>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
