{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/fa6f006057.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>About Us</title>
  </head>
  <body>
    <header class="site-header">
      <h2>
        <b><i class="fa-solid fa-scale-unbalanced fa-2x"></i>RANK THAT</b>
      </h2>

      <a href="/">Home</a>
      |
      <a href="/discover">Discover</a>
      |
      <a href="/maker">Maker</a>
    </header>
    <main>{% block content %} hi {% endblock %}</main>
  </body>
</html>
