{% extends 'base.html' %} {% load static %} {% block content %}

<div>
  <h1>{{ ranking.list_name }}</h1>
  <h3>Created at: {{ ranking.creation_date }}</h3>

  <div id="container">
    {% for tier, items in ranking.tier_config.rows.items %}
    <div id="row">
      <div id="label">{{ tier }}</div>
      <div>
        {% for item in items %}

        <img src="{{ item }}" width="100" height="100" />

        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div>
      {% for item in ranking.tier_config.unassigned %}

      <img src="{{ item }}" width="100" height="100" />

      {% endfor %}
    </div>
  </div>
</div>

<script>
  const tierConfig = {{ ranking.tier_config|safe }};
  console.log(tierConfig);
</script>
{% endblock %}
