{% extends 'base.html' %} {% load static %} {% block content %}

<div>
  <h1>{{ ranking.list_name }}</h1>
  <h3>Created at: {{ ranking.creation_date }}</h3>

  <div id="row-container">
    {% for tier, items in ranking.tier_config.rows.items %}
    <div class="row">
      <div class="tier-label">{{ tier }}</div>
      <div class="drop-zone">
        {% for item in items %}

        <img src="{{ item }}" width="100" height="100" />

        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  const tierConfig = {{ ranking.tier_config|safe }};
  console.log(tierConfig);
</script>
{% endblock %}
