{% extends 'base.html' %} {% load static %} {% block content %}
<script>
  var ranking_config = {}
    ranking_config.rows = new Map(Object.entries({{ ranking.tier_config.rows|safe }}))
    ranking_config.unassigned = {{ ranking.tier_config.unassigned|safe }};
</script>

<div id="myPopup" class="popup-overlay">
  <div class="popup-content">
    <h2>Download</h2>
    <p>This will show you a preview of your ranking before downloading it.</p>

    <button onclick="closePopup()">Close</button>

    <button id="downloadButton">Download Ranking as PNG</button>
    <div id="render"></div>
  </div>
</div>

<p id="pagetitle">EDIT YOUR TIER LIST</p>
<div id="ranking">
  {% include 'rows.html' %} {% include 'unassigned.html' with images=images %}
</div>

<div id="submit-form">
  <input type="hidden" id="images" accept="image/*" multiple />
</div>
<div>
  <button onclick="openPopup()">Download</button>
</div>

<form action="/edit/{{ ranking.id }}/" method="post">
  {% csrf_token %}
  <input type="hidden" name="tier_config" id="tier_config" />
  <button type="submit" onclick="submit_data()">Submit Tier List</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script>
  var selected = null

  function openPopup() {
    document.getElementById('myPopup').style.display =
      'flex' /* Use flex to center content */

    // May change the function back to this VVV but for now we just need row-container
    // html2canvas(document.querySelector('#render')).then((canvas) => {

    document
      .querySelectorAll('.tier-settings')
      .forEach((el) => (el.style.display = 'none'))

    html2canvas(document.querySelector('#row-container')).then((canvas) => {
      const renderDiv = document.querySelector('#render')
      renderDiv.innerHTML = '' // Clear previous content
      renderDiv.appendChild(canvas)

      canvas.style.maxWidth = '100%'
      canvas.style.height = 'auto'

      document
        .getElementById('downloadButton')
        .addEventListener('click', function () {
          const dataURL = canvas.toDataURL('image/png')
          const downloadLink = document.createElement('a')
          downloadLink.href = dataURL
          downloadLink.download = 'my-ranking.png'
          downloadLink.click()
          downloadLink.remove()
        })
    })
  }

  function closePopup() {
    document
      .querySelectorAll('.tier-settings')
      .forEach((el) => (el.style.display = 'grid'))
    document.getElementById('myPopup').style.display = 'none'
  }

  // Optional: Close the popup when clicking outside the content
  window.onclick = function (event) {
    if (event.target == document.getElementById('myPopup')) {
      document
        .querySelectorAll('.tier-settings')
        .forEach((el) => (el.style.display = 'grid'))
      document.getElementById('myPopup').style.display = 'none'
    }
  }

  function dragstartHandler(ev) {
    selected = ev.srcElement.src

    // Add the id of the dragged element to the dataTransfer object
    ev.dataTransfer.setData('text/plain', ev.target.id)
    ev.dataTransfer.effectAllowed = 'move' // Optional: specify drag effect
  }

  function dragoverHandler(ev) {
    // Prevent default behavior to allow drop
    ev.preventDefault()
    ev.dataTransfer.dropEffect = 'move' // Optional: specify drop effect
  }

  function dropHandler(ev) {
    ev.preventDefault()
    const data = ev.dataTransfer.getData('text/plain')
    const draggedElement = document.getElementById(data)

    // Remove the dragged item from all rows in the javascript object
    for (const [rowKey, rowData] of ranking_config.rows.entries()) {
      const idx = rowData.images.indexOf(draggedElement.src)
      if (idx !== -1) {
        rowData.images.splice(idx, 1)
      }
    }

    // Append the dragged element to the drop target
    if (ev.target.classList.contains('drop-zone')) {
      ev.target.appendChild(draggedElement)
      ranking_config.rows
        .get(ev.target.id.toUpperCase())
        .images.push(draggedElement.src)
      selected = null
    }
  }

  function submit_data() {
    let obj = {}

    obj['rows'] = Object.fromEntries(ranking_config.rows)
    obj['unassigned'] = ranking_config.unassigned

    document.getElementById('tier_config').value = JSON.stringify(obj)
  }
</script>
{% endblock %}
