{% extends 'base.html' %} {% load static %} {% block content %}
<script>
  var default_tiers = {
    S: { images: [], color: '#C0C0C0', name: 'S' },
    A: { images: [], color: '#C0C0C0', name: 'A' },
    B: { images: [], color: '#C0C0C0', name: 'B' },
    C: { images: [], color: '#C0C0C0', name: 'C' },
    D: { images: [], color: '#C0C0C0', name: 'D' },
    F: { images: [], color: '#C0C0C0', name: 'F' }
  }

  var ranking_config = {}
  ranking_config.rows = new Map(Object.entries(default_tiers))
  ranking_config.unassigned = []
</script>

<div id="myPopup" class="popup-overlay">
  <div class="popup-content">
    <h2>Download</h2>
    <p>This will show you a preview of your ranking before downloading it.</p>

    <button onclick="closePopup()">Close</button>

    <button id="downloadButton">Download Ranking as PNG</button>
    <div id="render"></div>
  </div>
</div>

<p id="pagetitle">MAKE YOUR TIER LIST</p>
<div id="ranking">
  {% include 'rows.html' %} {% include 'unassigned.html' %}
</div>

<div id="submit-form">
  <input type="file" id="images" accept="image/*" multiple />

  <div>
    <button onclick="openPopup()">Download</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
  <script>
    var selected = null

    function openPopup() {
      document.getElementById('myPopup').style.display =
        'flex' /* Use flex to center content */

      // May change the function back to this VVV but for now we just need row-container
      // html2canvas(document.querySelector('#render')).then((canvas) => {
      // make all elements with tier-settings hidden while we render
      document
        .querySelectorAll('.tier-settings')
        .forEach((el) => (el.style.display = 'none'))

      html2canvas(document.querySelector('#row-container'), {
        foreignObjectRendering: false
      }).then((canvas) => {
        const renderDiv = document.querySelector('#render')
        renderDiv.innerHTML = '' // Clear previous content
        renderDiv.appendChild(canvas)

        canvas.style.maxWidth = '100%'
        canvas.style.height = 'auto'

        document
          .getElementById('downloadButton')
          .addEventListener('click', function () {
            const dataURL = canvas.toDataURL('image/png')
            const downloadLink = document.createElement('a')
            downloadLink.href = dataURL
            downloadLink.download = 'my-ranking.png'
            downloadLink.click()
            downloadLink.remove()
          })
      })
    }

    function closePopup() {
      document
        .querySelectorAll('.tier-settings')
        .forEach((el) => (el.style.display = 'grid'))
      document.getElementById('myPopup').style.display = 'none'
    }

    // Optional: Close the popup when clicking outside the content
    window.onclick = function (event) {
      if (event.target == document.getElementById('myPopup')) {
        document
          .querySelectorAll('.tier-settings')
          .forEach((el) => (el.style.display = 'grid'))
        document.getElementById('myPopup').style.display = 'none'
      }
    }

    function dragstartHandler(ev) {
      selected = ev.srcElement.src

      // Add the id of the dragged element to the dataTransfer object
      ev.dataTransfer.setData('text/plain', ev.target.id)
      ev.dataTransfer.effectAllowed = 'move' // Optional: specify drag effect
    }

    function dragoverHandler(ev) {
      // Prevent default behavior to allow drop
      ev.preventDefault()
      ev.dataTransfer.dropEffect = 'move' // Optional: specify drop effect
    }

    function dropHandler(ev) {
      ev.preventDefault()
      // Get the id of the dragged element
      const data = ev.dataTransfer.getData('text/plain')
      const draggedElement = document.getElementById(data)

      // Append the dragged element to the drop target
      // Check if the target is a valid drop zone
      if (ev.target.classList.contains('drop-zone')) {
        ev.target.appendChild(draggedElement)
        ranking_config.rows
          .get(ev.target.id.toUpperCase())
          .images.push(draggedElement.src)
        selected = null
      }
    }

    function submit_data() {
      if (document.getElementById('unassigned').children.length > 0) {
        for (
          let i = 0;
          i < document.getElementById('unassigned').children.length;
          i++
        ) {
          ranking.unassigned.push(
            document.getElementById('unassigned').children[i].src
          )
        }
      }
      document.getElementById('ranking_data').value = JSON.stringify(ranking)
    }
  </script>
  {% endblock %}
</div>
