{% extends 'base.html' %} {% load static %} {% block content %}

<p id="pagetitle">MAKE YOUR TIER LIST</p>
<div id="row-container"></div>

<div id="unassigned">
  <img
    src="{% static 'TierList/blackcrewpng.png' %}"
    alt="My image"
    width="100px"
    id="img1"
    draggable="true"
    ondragstart="dragstartHandler(event)"
  />
  <img
    src="{% static 'TierList/bluecrewpng.png' %}"
    alt="My image"
    width="100px"
    id="img2"
    draggable="true"
    ondragstart="dragstartHandler(event)"
  />
  <img
    src="{% static 'TierList/greencrewpng.png' %}"
    alt="My image"
    width="100px"
    id="img3"
    draggable="true"
    ondragstart="dragstartHandler(event)"
  />
  <img
    src="{% static 'TierList/redcrewpng.png' %}"
    alt="My image"
    width="100px"
    id="img4"
    draggable="true"
    ondragstart="dragstartHandler(event)"
  />
</div>

<div id="submit-form">
  <p>SUBMIT</p>
  <form action="/maker/" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Tier List Title" required />
    <select id="ranking_type" name="ranking_type">
      <option value="template" selected>Template</option>
      <option value="ordering">Ordering</option>
    </select>
    <input type="hidden" name="ranking_data" id="ranking_data" />
    <button type="submit" onclick="submit_data()">Submit Tier List</button>
  </form>
</div>

<script>
  var ranking = {
    rows: {
      S: [],
      A: [],
      B: [],
      C: [],
      D: [],
      F: []
    },
    unassigned: []
  }

  const container = document.getElementById('row-container')
  //create rows based on ranking.rows keys
  for (const key in ranking.rows) {
    //rows themselves
    const tier_row = document.createElement('div')
    tier_row.id = `row${key}`
    tier_row.className = 'row'

    //left side labels
    const label = document.createElement('div')
    label.id = `label${key}`
    label.className = 'tier-label'
    label.textContent = key

    //dropzones
    const dropzone = document.createElement('div')
    dropzone.id = `dropzone${key}`
    dropzone.addEventListener('drop', dropHandler)
    dropzone.addEventListener('dragover', dragoverHandler)
    dropzone.className = 'drop-zone'

    tier_row.appendChild(label)
    tier_row.appendChild(dropzone)

    container.appendChild(tier_row)
  }

  var selected = null

  function dragstartHandler(ev) {
    console.log('Drag Start Event Triggered', ev.srcElement.src)
    selected = ev.srcElement.src

    // Add the id of the dragged element to the dataTransfer object
    ev.dataTransfer.setData('text/plain', ev.target.id)
    ev.dataTransfer.effectAllowed = 'move' // Optional: specify drag effect
  }

  function dragoverHandler(ev) {
    // Prevent default behavior to allow drop
    ev.preventDefault()
    ev.dataTransfer.dropEffect = 'move' // Optional: specify drop effect
  }

  function dropHandler(ev) {
    ev.preventDefault()
    // Get the id of the dragged element
    const data = ev.dataTransfer.getData('text/plain')
    const draggedElement = document.getElementById(data)

    // Append the dragged element to the drop target
    // Check if the target is a valid drop zone
    if (ev.target.classList.contains('drop-zone')) {
      console.log(ev.target.id)
      console.log(ev.dataTransfer)

      ev.target.appendChild(draggedElement)
      id = ev.target.id.replace('dropzone', '')

      ranking.rows[id.toUpperCase()].push(selected)
      selected = null
      console.log(ranking)
    }
  }

  function submit_data() {
    if (document.getElementById('unassigned').children.length > 0) {
      for (
        let i = 0;
        i < document.getElementById('unassigned').children.length;
        i++
      ) {
        ranking.unassigned.push(
          document.getElementById('unassigned').children[i].src
        )
      }
    }
    document.getElementById('ranking_data').value = JSON.stringify(ranking)
  }
</script>
{% endblock %}
