{% load static %}
<div class="add-button-container">
  <button id="add" class="add">
    <i class="fa-slab fa-regular fa-plus"></i>
  </button>
</div>
<div id="row-container"></div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tierOriginalCount = ranking_config.rows.size

    function renderRows() {
      const container = document.getElementById('row-container')
      container.innerHTML = ''
      for (const [key, rowData] of ranking_config.rows.entries()) {
        const tier_row = document.createElement('div')
        tier_row.id = `row${key}`
        tier_row.className = 'row'

        const label = document.createElement('div')
        label.id = `label${key}`
        label.className = 'tier-label'
        label.textContent = rowData.name
        label.contentEditable = true
        label.value = key
        label.addEventListener('input', changeName)
        label.style.backgroundColor = rowData.color

        const dropzone = document.createElement('div')
        dropzone.id = `${key}`
        dropzone.addEventListener('drop', dropHandler)
        dropzone.addEventListener('dragover', dragoverHandler)
        dropzone.className = 'drop-zone'

        const settings = document.createElement('div')
        settings.id = `settings${key}`
        settings.className = 'tier-settings'

        tier_row.appendChild(label)
        tier_row.appendChild(dropzone)
        tier_row.appendChild(settings)
        container.appendChild(tier_row)
      }
      // After rows are rendered, add settings buttons
      const settings_tabs = document.getElementsByClassName('tier-settings')
      for (const tab of settings_tabs) {
        const tier = tab.id.replace('settings', '')
        const palette = document.createElement('button')
        palette.id = `palette-${tier}`
        palette.className = 'palette'
        palette.innerHTML =
          '<i class="fa-slab fa-regular fa-palette fa-xl"></i>'
        palette.addEventListener('click', changeColor)
        const trash = document.createElement('button')
        trash.id = `trash-${tier}`
        trash.className = 'trash'
        trash.innerHTML = '<i class="fa-slab fa-regular fa-trash fa-xl"></i>'
        trash.addEventListener('click', deleteTierFunction)
        const upArrow = document.createElement('button')
        upArrow.id = `up-${tier}`
        upArrow.className = 'up-arrow'
        upArrow.innerHTML =
          '<i class="fa-slab fa-regular fa-angle-up fa-xl"></i>'
        upArrow.addEventListener('click', moveRowUp)
        const downArrow = document.createElement('button')
        downArrow.id = `down-${tier}`
        downArrow.className = 'down-arrow'
        downArrow.innerHTML =
          '<i class="fa-slab fa-regular fa-angle-down fa-xl"></i>'
        downArrow.addEventListener('click', moveRowDown)
        tab.appendChild(palette)
        tab.appendChild(trash)
        tab.appendChild(upArrow)
        tab.appendChild(downArrow)
      }
    }

    document.getElementById('add').addEventListener('click', addTier)

    function addTier(ev) {
      const newTierKey = tierOriginalCount + 1
      ranking_config.rows.set(newTierKey.toString(), {
        name: `Tier ${newTierKey}`,
        color: '#cccccc',
        images: []
      })
      renderRows()
      tierOriginalCount++
    }

    function changeColor(ev) {
      const row = ev.currentTarget.closest('.row')
      const label = row.querySelector('.tier-label')

      const colorInput = document.createElement('input')
      colorInput.type = 'color'
      colorInput.value = rgbToHex(getComputedStyle(label).backgroundColor)

      colorInput.addEventListener('input', () => {
        label.style.backgroundColor = colorInput.value
        ranking_config.rows.get(row.id.replace('row', '')).color =
          colorInput.value
      })
      colorInput.click()
    }
    function rgbToHex(rgb) {
      const result = rgb.match(/\d+/g)
      return result
        ? '#' + result.map((x) => (+x).toString(16).padStart(2, '0')).join('')
        : '#ffffff'
    }

    function deleteTierFunction(ev) {
      const row = ev.currentTarget.closest('.row')
      const container = row.parentElement
      const allRows = container.querySelectorAll('.row')

      if (allRows.length > 1) {
        ranking_config.rows.delete(row.id.replace('row', ''))
        renderRows()
      } else {
        alert('Cannot have a list with no rows.')
      }
    }

    function moveRowUp(ev) {
      const row = ev.currentTarget.closest('.row')
      const prevRow = row.previousElementSibling

      if (prevRow) {
        const entries = Array.from(ranking_config.rows.entries())
        const indexA = entries.findIndex(
          ([key]) => key === row.id.replace('row', '')
        )
        const indexB = entries.findIndex(
          ([key]) => key === prevRow.id.replace('row', '')
        )

        // Swap elements at indexA and indexB
        ;[entries[indexA], entries[indexB]] = [entries[indexB], entries[indexA]]

        ranking_config.rows = new Map(entries)
        renderRows()
      } else {
        alert('This row is already at the top.')
      }
    }

    function moveRowDown(ev) {
      const row = ev.currentTarget.closest('.row')
      const nextRow = row.nextElementSibling

      if (nextRow) {
        const entries = Array.from(ranking_config.rows.entries())
        const indexA = entries.findIndex(
          ([key]) => key === row.id.replace('row', '')
        )
        const indexB = entries.findIndex(
          ([key]) => key === nextRow.id.replace('row', '')
        )

        // Swap elements at indexA and indexB
        ;[entries[indexA], entries[indexB]] = [entries[indexB], entries[indexA]]

        ranking_config.rows = new Map(entries)
        renderRows()
      } else {
        alert('This row is already at the bottom.')
      }
    }

    function changeName(ev) {
      const row = ev.currentTarget.closest('.row')
      const newName = ev.currentTarget.textContent.trim()

      ranking_config.rows.get(row.id.replace('row', '')).name = newName
    }

    // Initial render using current ranking_config.rows
    renderRows()
  })
</script>
