{% load static %}
<div id="unassigned" class="row">
  {% for image in images %}
  <img
    src="{{ image.image.url }}"
    alt="Unassigned image"
    width="100px"
    height="auto"
    id="img{{ forloop.counter }}"
    draggable="true"
    ondragstart="dragstartHandler(event)"
  />
  {% endfor %}
</div>

<script>
  let image_count = 0
  document.addEventListener('DOMContentLoaded', function () {
    document
      .getElementById('images')
      .addEventListener('change', function (event) {
        // Need to make sure there is an imageUpload element in the HTML
        const files = event.target.files
        const imagePreviewDiv = document.getElementById('unassigned')

        if (files.length > 0) {
          Array.from(files).forEach((file, idx) => {
            const reader = new FileReader()
            reader.onload = function (e) {
              // Save base64 string to array
              console.log('added to uploadimage', e.target.result)

              // Preview image
              const img = document.createElement('img')
              img.src = e.target.result
              img.style.width = '100px'
              img.style.height = 'auto'
              if (typeof dragstartHandler === 'function') {
                img.ondragstart = dragstartHandler
                img.draggable = true
                img.id = 'img' + (1000 + image_count)
                image_count++
              }
              imagePreviewDiv.appendChild(img)
            }
            reader.readAsDataURL(file)
          })
        } else {
          imagePreviewDiv.innerHTML = ''
        }
      })
  })
</script>
