#pagetitle {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

#row-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 20px auto;
}

div.row {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.tier-label {
  aspect-ratio: 1 / 1;
  background-color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sort {
  flex-grow: 1;
  border-left: 1px solid black;
}

.drop-zone {
  width: 100%;
  height: 98%;
  border: 2px dashed #ccc;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  cursor: grab;
}

.site-header {
  font-size: 15px;
  margin: 20px 0;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Light gray */
}

.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stays in place */
  z-index: 1000; /* On top of everything */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Adjust as needed */
  max-width: 700px; /* Max width for larger screens */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add an animation for opening the popup */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#unassigned {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  margin-top: 20px;
  width: 60%;
  height: 100px;
  border: 2px solid black;
}

#submit-form {
  font-size: large;
  font-weight: bold;
  justify-self: center;
  justify-content: center;
}
/* Tier Settings Grid */
.tier-settings {
  position: relative;
  z-index: 10;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}

.palette{
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 90%;
  border-radius: 20%;
  background-color: rgb(255, 245, 157);
  border-style: none;
  grid-row: 1;
  grid-column: 2;
}

.trash{
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 90%;
  border-radius: 20%;
  background-color: rgb(200, 200, 200);
  border-style: none;
  grid-row: 2;
  grid-column: 2;
}

.up-arrow{
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 90%;
  border-radius: 20%;
  background-color: rgb(172, 255, 172);
  border-style: none;
  grid-row: 1;
  grid-column: 1;
}

.down-arrow{
  justify-self: center;
  align-self: center;
  height: 90%;
  width: 90%;
  border-radius: 20%;
  background-color: #ffa3a3;
  border-style: none;
  grid-row: 2;
  grid-column: 1;
}

.gear, .trash, .up-arrow, .down-arrow {
  cursor: pointer;
}

.row.moved {
    outline: 5px solid rgb(0, 211, 253);
    outline-offset: -2px; 
}

